body {
    background-color: aqua;
}

h1 {
    color:black
}

.ul {
    grid-column: 9/10;
}

.divWrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

@media only screen and (max-width: 600px) {
    body {
        background-color: blueviolet;
        width: 100%; 
    }

    .divWrapper {
        display: none;
    }
}

.responsive {
    width: 100%;
    height: auto;
}